

body{
    width: 1600px;
    height: 990px;
    /* background-color: #fff; */
    border: 1px solid black;
    margin: 0 auto;
    font:  500 14px/1.2em 'Montserrat';
    box-sizing: border-box;
}
.main{
    

    height: 990px;
    background-image: url(../imges/bj.png);
    background-size: 1660px;
    /* background-repeat: no-repeat; */
    
    text-align: center;
    overflow: hidden;

}
.main h1{
   
    font-size: 62px;
    line-height: 72px;
   color: white;
  margin:150px 0;
}
.main p{
    width: 768px;
    font-size: 20px;
    line-height: 32px;
    margin: 100px auto;
    color: white;
}
.main .accountbox{
    width: 970px;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;

}
.main .accountbox h1{
    
    font-size: 16px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 8px;
    /*  设置字母为大写 */
    text-transform: uppercase;
    /* 设置字母间的间距 */
    letter-spacing: 3px;

}
.main .accountbox h5{
    color: rgba(255, 255, 255, 0.2);
}
.main .accountbox .input{
    margin: 45px auto;

}
.main .accountbox .input input{
    /* background-origin: padding-box; */
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 15px;
    color: #fff;
    height: 50px;
    
}
.main .accountbox button{
    margin-left: 10px;
    height: 33px;
    height: 50px;
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: top;
}
.main-1{
    width: 100%;
    height: 990px;
    background-color: #fff;
    border: 1px solid black;
    text-align: center;
    
}
.main-1 h5{
    margin: 100px auto;
}
.main-1 .features-box{
    width: 85%;
    /* border: 1px solid red; */
    height: 500px;
    margin: 50px auto;
    position: relative;
}
.main-1 .features-box div{
     /* border: 1px solid blue; */
     width: 40%;
     position: absolute;
     text-align: left;
     margin-left: 50px;
}
.main-1 .features-1{
    top: 0;
    left: 50px;
}
.main-1 .features-2{
    right: 0;
    top: 0;
}
.main-1 .features-3{
    bottom: 80px;
    left: 50px;
}
.main-1 .features-box .features-3 img{
    margin-left: -62px;
}
.main-1 .features-4{
    bottom: 60px;
    right: 0;
}
.main-1 .features-box .features-4 img{
    margin-left: -62px;
}
.main-1 .features-box  img{
    float: left;
   margin-left: -50px;
   /* width: 50px; */
}
.main-1 .features-box h2{
    font-size: 20px;
    color: #141414;
    
    margin-bottom: 20px
    
}
.main-1 .features-box p{
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5)
}
/* 第三部分开始 */
.main-3{
    width: 100%;
    height: 800px;
    background-image: url(../imges/背景2.png);
    font-family: "montserrat-Extralight";
    text-align: left;
    position: relative;
}
.main-3_conter{
    width: 821px;
    margin-left: 315px;
    overflow: hidden;
  
}
.fist-p{
    font-size: 36px;
    line-height: 52px;
    width: 336px;
    margin-top: 183px;
    color: #fff;
    text-align: initial;
    font-weight: 300;

    

}
.list-p2{   width: 336px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
    
    
}
.main-3_conter button{
    font-size: 12PX;
    padding: 25PX 35PX;
    margin: 40px 28px 0 0;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.2);
   
}
button:first-of-type{
    color: black;
    background-color: #fff;
}
.ipad img{
    width: 585px;
    height: 542px;
    vertical-align: middle;
    
    
    
   
  
}
.main-3_conter .ipad{
    height: 600px;
    width: 645px;
    position: absolute;
    right: 0;
    bottom: 93px;
    text-align: right;
    line-height: 600px;
    font-size: 0;
    /* border-top-left-radius:1px solid red;
    border-bottom-left-radius: 1px solid rgba(255, 255, 255, 0.5); */
    /* border-right: none; */
    /* border-radius: 45px; */
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-top-left-radius:35px;
    border-bottom-left-radius: 35px;
    
 
}
.main-3_conter .ipad::after{
    content: "";
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 31px;
    border-radius: 50%
}
#main-4{
    height: 580px;
    width: 1600px;
    background-color: #fff;
    border-bottom: rgba(0  , 0, 0, 0.9) 1px solid;
}
#main-4 h1{
    width: 565px;
    font-size: 42px;
    line-height: 52px;
    margin: 70px auto;
}
#main-4 .wzbox{
    display: flex;
    
    width: 950px;
   justify-content: space-between;
   /* background-color: #ccc; */
   margin: 0 auto;
}
#main-4 .wzbox div{
    flex: 0 0 260px ;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    
    
}
#main-4 .wzbox div img{
    margin-bottom: 40px;
}

#main-5{
    width: 1600px;
    height: 1000px;
    border-bottom:rgba(0  , 0, 0, 0.9) 1px solid;
}
/* 第5部分2个盒子上下分布，盒子都上下margin 水平居中 */
 .centerbox, .centerboxtow{
    width: 980px;
    margin: 80px auto;
    /* background-color: #ccc; */
    line-height: 396px;
}
.rightbox,.leftbox{
    display: inline-block;
    width: 313px;
    margin-left: 91px;
    vertical-align: middle;
}

#main-5 .leftbox{
    margin-left: 0;
    margin-right: 90px;
}
/* 面板5内2个大盒子内的所有h2 */
#main-5  h2{
    font-size: 20px;
    line-height: 32px;
         
}
/* 面板5内2个大盒子内的所有段落*/
#main-5  p{
    font-size: 16px;
    line-height: 28px;
    color: rgba(20, 20, 20, 0.7);
    margin-top: 1em;
}


/* 第2个盒子内的子盒子变成line-block和图片垂直居中对齐 */
#main-5 #main-5 .centerboxtow .leftbox{
    display: inline-block;
    width: 325px;         
}
#main-6{
    height: 1084px;
    border-bottom:rgba(0  , 0, 0, 0.9) 1px solid;
    
}
#main-6 h5{
    font-size: 35px;
    color: #141414;
   /* height: 30px; */
   line-height: 52px;
   margin: 30px auto;
   margin-top: 85px;

   width: 394px;
}
#main-6 P{
    font-size: 18px;
    line-height: 28px;
    width: 695px;
    margin: 1px auto;
    text-align: center;
}
#main-6 .tpbox{
    width: 980px;
    margin: 60px auto;
    height: 742px;
    display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  /* 外了去除第二列的底外边距，这里用到了让其对齐交叉轴的间距分摊给
  上下2行项目，从而实现没有底边*/
  align-content: space-between;
  
    
}
/* #main-6 .tpbox img:nth-child(3),#main-6 .tpbox img:nth-child(4){
    align-self: flex-end;
} */
#main-6 .tpbox img{
    flex: 0 0 auto;
}
#main-7{
    height: 700px;
    border-bottom:rgba(0 , 0, 0, 0.9) 1px solid;
    display: flex;
justify-content: space-evenly;
align-items: center;
}
#main-7 form{
    flex: 0 0 470px;
    height: 560px;
    border: 1px solid #e7e7e7;
    /* display: inline-block; */
   
    text-align: center;
    border-radius: 15px;
}
#main-7 form h2{
    margin: 40px auto;
    font-size: 16px;
}
#main-7 form input,#main-7 form button{
    width: 370px;
    height: 50px;
    margin: 25px auto;
    padding: 10px 5px;
    border: 1px solid #d4d3d3;
}
textarea{
    resize: none;
}
#main-7 form button{
    display: block;
    color: #fff;
    background-color: black;
    
}
#main-7  .lxbox{
    flex: 0 0 420px;
    height: 386px;
    /* display: inline-block; */
    /* border: 1px solid red; */
}
#main-7  .lxbox h2{
    font-size: 42px;
    height: 52px;
}

 .lxbox p{
    font-size: 16px;
    line-height:26px;
    color: #5a5a5a;
    margin:30px 0;
}
 .address{
    margin:20px 20px 30px 45px;

}
#main-7 .address img{
    float: left;
    margin-left: -45px
}
#main-7 .lxp{
    font-size: 16px;
    line-height: 2em;
    margin: 0;
}
.Contact, .address,  .email{
    margin-left: 45px;
    margin:20px 20px 30px 45px;
   
}
#main-7 img{
    float: left;
    margin-left: -45px
}
#main-8{
    font-family: 'Montserrat-ExtraLight';
    display: flex;
    height: 420px;
    width: 1600px;
    background-color: #141414;
    font-size: 16px;
    line-height: 46px;
    color: rgba(255, 255, 255, 0.3);
    justify-content: space-evenly;
    
}
#main-8 div{
    flex: 0 0 270px;
    margin-top: 80px;   
}
#main-8 div dt{
    color: #fff;
    font-size: 14px;
    line-height: 28px;
}
#main-8 div:last-child{
    font-size: 18px;
    line-height: 28px;
    
}
 /* #main-8 .list:nth-last-child(1) dd{
     /* margin-top: 13px; */
    
    
   


 .list dl dd i{
    display: inline-block;
    width: 26px;
    height: 21px;
    margin-right: 5px;
}
.list .sbtu{
    margin-top: 40px;
   
}
.list .i-1{
    
    background: url(../imges/css_sprites.png)no-repeat -10px -51px;
}
.list .i-2{s
    background: url(../imges/css_sprites.png)no-repeat -90px -10px;
}
.list .i-3{
    background: url(../imges/css_sprites.png)no-repeat -10px -9px;
}
.list .i-4{
    background: url(../imges/css_sprites.png)no-repeat -90px -51px;


}
.list .i-5{
    background: url(../imges/css_sprites.png)no-repeat -50px -51px;


}
.list .i-6{
    background: url(../imges/css_sprites.png)no-repeat -50px -10px;

}