body{
    height: 1407px;
    max-width: 1280px；
}
.slide{
    width:350px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    

}
.button-group{
    position: relative;
    height: 100%;
    background-color: #1d2531;
    width: 100px;
}
.classify{
    position: absolute;
    padding: 20px;
  top: 0;
  left: 0;
   
   
}
.button-group .classify li{
    margin-bottom: 20px;

}
.button-group .operation{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100px;
    padding: 20px;
  
}
.operation li{
   float: left;
    /* margin-right: 20px; */

}
.operation .ss{
    float: right;
}
.slide nav{
    width: 250px;
    background-color: #222c3c;
    color: #fff;
    position: relative;
    font-size: 14px;
    height: 100%;
}
.slide nav .content  {
    width: 100%;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    left: 0;
    height: 85%;
    
}
.slide nav .content dt{
    margin: 15px 0;
    color:  #5b6779;
    line-height: 28px;
    border-top: 1px solid #2a3547;
   padding-top: 20px;
   font-size: 16px;
}
.slide nav .content dt:first-child{
    padding-top: 0;
    border: none;
}
.slide nav .content dt a{
   float: right;      
}
.slide nav .content dd{
    /* margin-bottom: 10px; */
    line-height: 36px;
    position: relative;

}
.slide nav a{
    color: #b7c0cd;
}
 nav .content dd i{
   position: absolute;
    color: #fff;
    width: 26px;
    text-align: center;
    background-color: #2298f1;
    border-radius: 12px;
    line-height: 20px;
    right: 0;
    top: 10px;
}
.slide nav .content .icon{
    position: relative;
    display: inline-block;
    margin-right: 9px;
    width: 20px;
    height: 30px;
    background:url(../imges/book.png) no-repeat 1px center;

}
.slide nav .content .video{
    background-image: url(../imges/video.png);
}
.slide nav .content .picture{
    background-image: url(../imges/picture.png);
}
.slide nav .content .chare{
    background-image: url(../imges/chare.png);
}
.slide nav .content .warn{
    background-color: red;
}
 nav .nav-footer{
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 0px;
     padding: 30px 30px;
     line-height: 45px;
        
 }
 nav .nav-footer .monthly{
     display: flex;
     justify-content: space-between;
 }
 nav .nav-footer .dashed{
     
     /* width: 100%; */
    
     border-bottom:  4px solid #2d3848;
     border-radius: 20px;
      
 }

 nav .nav-footer::after{
     content: "";
     display: block;
     position: absolute;
     width: 50px;
     background-color: #8160e6;
     height: 4px;
     bottom: 30px;
     left: 30px;
     border-radius: 20px;
 }
 #main{
     margin-left: 350px;
     min-width: 930px;
     display: flex;

 }

 #header{
     height: 80px;
     border-bottom:#e6e9ec 1px solid;
     position: fixed;
     top: 0;
     left: 350px;
     width: calc(100% - 350px);
     z-index: 999;
   
   
  
 }
 #header h1{
     font-size: 24px;
     line-height: 80px;
     color: #354052;
     float: left;
     padding-left: 30px;
 }
 .user-info{
     float: right;
     padding:11px 80px;
    
     
 }
 .user-info .avatar{
     display: inline-block;
 }
 /* .user-info img{
     /* margin-right: 10px; */
    
 
 .user-info span{
     display: block;
     line-height: 1.5em;
     color: #b5b5b5;
 }
 .user-info span:nth-of-type(1){
    color: #2399f2;
 }

 .user-centaier{
     display: inline-block;
     vertical-align: middle;
     margin-left: 10px;
     font-size: 14px;
 }
 .user-info .avatar{
     position: relative;
 }
 .user-info .avatar span {
     position: absolute;
     bottom: 0;
     right: 0;
      width: 25px;
     height: 25px;
     background-color: #fff;
     border-radius: 50%;
     padding: 3px;
 }
 .user-info .avatar span i {
     position: absolute;
     border: green 3px solid;
     width: 15px;
     height: 15px;
     border-radius: 50%;
 }
 .user-info button{
     background-color: transparent;
     border: none;
     position: absolute;
     right: 32px;
     top: 30px;
 }
  .main-left_nav{
      width: 400px;
      height: 100%;
      margin-top: 80px;
      border-right: 1px solid #e6e9ec;
  }
  .main-left_nav  .search {
      height: 70px;
      overflow: hidden;
      position: relative;
      border-bottom: 1px solid #e6e9ec;

      }
 .search input{
      padding: 5px;
      border-radius: 4px;
      margin: 15px auto;
      width: 340px;
      display: block;
      outline: none;
      /* 充值边框样式 */
      border: 1px solid #e6e9ec;
      /* 加了边框变形后边框边厚了，改变边框样式， */
  }
  .search img{
      position: absolute;
      top: 25px;
      right:40px;
  }
  .Guestbook ul li{
      height: 130px;
      border-bottom: 1px solid #e6e9ec;
      padding: 16px 20px 16px 30px;
  }
  .Guestbook ul li span{
      display: block;
  }
  .Guestbook ul li .head{
      display: flex;
     align-items: center;
     position: relative;

  }
  /* 用户头像 */
  .Guestbook ul li img{
      margin-right: 20px;
  }
  /* 用户发表时间定位 */
  .Guestbook ul li .time{
      position: absolute;
      right: 0; 
     color:  #7f8fa4
  }
  /* 用户发表内容 */
  .Guestbook ul li .body{
     font-size: 14px;
     line-height: 19px;
     padding-top: 12px;
     color: #585d68;
     position: relative;

  }
  /* 用户名字 */
  .Guestbook ul li .name{
      font-size: 16px;
      line-height: 1.5em;
  }
  /* 用户发表平台 */
  .Guestbook ul li .descript{
      color: #b5b5b5;
  }
  /* 用户蓝点 */
  .Guestbook ul li .user i{
      position: absolute;
     background-color:  #2298f1;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      top: 10px;
  }
  /* 最新用户特殊样式 */
  .Guestbook ul li .recently{
      margin-left: 17px;
      color: #2298f1;
  }
  .Guestbook ul li:nth-of-type(1){
      border-left: 3px solid #2298f1;
  }
  .Guestbook ul li .fist{
      width: 335px;
  }
  .Guestbook ul li .body i{
      background-color: #2298f1;
      position: absolute;
      border-radius: 50%;
      top: 20px;
      right: 0;
      padding: 2px 7px;
      color: #fff;
  }
  /* 右侧白色内容区自适应宽度 */
  #main .main-centent{
      margin-top: 80px;
      flex: 1;
  }
  #main .main-centent .console{
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 10px;
      border-bottom: #e6e9ec 1px solid;
  }
  #main .main-centent .console h1{
      font-size: 24px;
      line-height: 50px;
      padding-left: 20px;
  }
  #main .main-centent .console h1::after{
      content: '';
      width: 7px;
      height: 7px;
      background-color: #1bb934;
      border-radius: 50%;
      display: inline-block;
      margin-left: 7px;
    
      
  }
  #main .main-centent .console .operation {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 320px;
  }

  #main .main-centent .console .operation .clear::after{
      display: block;
      content: "";
      clear: both;
  }
  #main .main-centent .console .operation ul li{
      float: left; 
      padding: 8px;
      border: 1px solid #e6e9ec;
      border-radius: 4px;
  }
  .clear, .paging{
      float: left;
      
   
  }
  #main .main-centent .console .paging {
      border-left: 1px solid #e6e9ec;  
  }
  #main .main-centent .console .paging span{
      padding: 0 12px;
      vertical-align: super;

  }
  #main .paging button{
     width: 36.5px;
     height: 32px;
    padding: 0;
    border: 1px solid #ced0da;
    border-radius: 4px;
  }
  #main .paging .left_button{
      background: url(../imges/arrow-left.png) no-repeat center center;
      
  }
  #main .paging .right_button{
    background: url(../imges/arrow-right.png) no-repeat center center;
  }